.GameField {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.pickachu, .charmander, .tortoise  {
    width: 200px;
    height: 200px;
    background: yellow;
}